<!--[if lt IE 10]>
p.browserupgrade
  |Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/">
  |ОБНОВИТЕ ваш браузер здесь</a> для повышения отзывчивости.
<![endif]-->
