/*
* Base styles, only tag selector use
*/

html,body{
  width: 100%;
  height: 100%;
}
html{
  font-family:'Ubuntu', 'Comfortaa', Arial, Helvetica, sans-serif;
  font-size:$base-px-default;
  line-height: $line-height-base;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}

img,video,iframe{
  max-width: 100%;
  height: auto;
  width: auto;
}

img{
  display: inline-block;
  vertical-align: top;
}

a{
  color: inherit;
  text-decoration: none;
}

button{
  border: 0;
  padding: 0;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

input{
  border: 0;
  padding: 0;
  background: $white;
  outline: 0;
}

figure{
  margin:0;
}
