.hero.hero_main
  h1.hero__title Только лучшее
  .hero__slider.slider.slider_hero.js-hero-slider
    .slider__slide
      +img("slider-main/slide_1.jpg",
      {title: "Слайд 1", className: "slider__img", width: "1600", height: "600"})
    .slider__slide
      +img("slider-main/slide_2.jpg",
      {title: "Слайд 2", className: "slider__img", width: "1600", height: "600"})
    .slider__slide
      +img("slider-main/slide_3.jpg",
      {title: "Слайд 2", className: "slider__img", width: "1600", height: "600"})
