.hero.hero_main
  h1.hero__title Только лучшее
  .hero__slider.slider.slider_hero.js-hero-slider
    .slider__slide
      +img("slider-main/slide_01.png",
      {title: "Слайд 1", className: "slider__img", width: "1600", height: "500"})
    .slider__slide
      +img("slider-main/slide_02.png",
      {title: "Слайд 2", className: "slider__img", width: "1600", height: "500"})
    .slider__slide
      +img("slider-main/slide_03.png",
      {title: "Слайд 2", className: "slider__img", width: "1600", height: "500"})
