include ../../layouts/helpers/mixins
- var page = 'about';

doctype html
<![if IE 8 ]>
html(lang="ru" class="ie ie8" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#")
<![endif]>
<![if (gte IE 9)|!(IE)]>
html(lang="ru" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#")
<![endif]>
  +head({
    title: 'О нас',
    description: 'Информация о нашем ресторане'
  })
  body
    include ../../blocks/browsupgrade/browserupgrade

    //- page wrapper, get modifier, by page name
    +page(page)
      include ../../blocks/header/header

      +hero-content("О нас", "http://placehold.it/350x150", [
        { url: "index.html",
          text: "Главная"},
        { url: "#",
          text: "О нас"}
      ])


      main.content


      include ../../blocks/footer/footer

    +analytics

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild

    //- build:js scripts/about.js
    //script(src='/bower_components/slick-carousel/slick/slick.js')
    //script(src='/bower_components/jquery-modal/jquery.modal.js')
    //script(src='/bower_components/moment/moment.js')
    //script(src='/bower_components/pikaday/pikaday.js')
    //script(src='scripts/common.js')
    //script(src='scripts/'+page+'.js')
    //- endbuild
