.menu-cats.menu-cats_sidebar
  .menu-cats__title.f-title Категории
  ul.menu-cats__items.menu-cats__items_l1
    li.menu-cats__item.menu-cats__item_l1
      span.menu-cats__item-title Горячие блюда

    li.menu-cats__item.menu-cats__item_l1
      span.menu-cats__item-title Холодные закуски

    li.menu-cats__item.menu-cats__item_l1
      span.menu-cats__item-title Десерты

    li.menu-cats__item.menu-cats__item_l1
      span.menu-cats__item-title Напитки
      ul.menu-cats__items.menu-cats__items_l2
        li.menu-cats__item.menu-cats__item_l2
          span.menu-cats__item-title Алкогольные
        li.menu-cats__item.menu-cats__item_l2
          span.menu-cats__item-title Безалкогольные
