/*benefits*/
@include block(benefits){
  margin-bottom: rem(40px);

  @include element(title){
    margin: 0 0 rem(20px);
    @include font-size(30px);
    text-align: center;
  }
  @include element(items){
    @include clearfix;
  }
  @include element(item){
    @include span-columns(3);
    text-align: center;

    &:hover{
      .benefit__img{
        @include transform(scale(1.2));
        @include transition(transform .4s);
      }
    }
  }
}

/*benefit*/
@include block(benefit){
  padding: rem(10px);

  &__title,
  &__desc{
    display: block;
    word-wrap: break-word;
  }

  @include element(img){
    max-width: rem(80px);
    margin-bottom: rem(10px);
    @include transition(transform .4s);
  }


  @include element(title){
    margin-bottom: rem(10px);
    @include font-size(20px);
  }
}
