@include block(hero){
  @include modifier(inner){
    position: relative;
    background-color: $main-color;
    overflow: hidden;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: rem(300px);
      background-color: rgba($black, .7);
    }

    @include block(hero){

      &__title,
      &__pagination{
        position: relative;
        z-index: 1;
      }

      @include element(wrapper){
        padding: rem(40px) 0;
      }
      @include element(title){
        margin: 0 0 rem(20px);
        text-align: center;
        font-family: $ff-titles;
        @include font-size(60px);
        @include font-weight($f-bold);
        color: $white;
        text-shadow: 1px 0 5px rgba(0, 0, 0, 0.8);
      }
      @include element(pagination){
        text-align: center;
        font-size:0;
      }
    }
  }
}

/*hero pagination*/
@include block(pagination){
  @include modifier(hero){
    @include block(pagination){

      @include element(item){
        display: inline-block;
        vertical-align: top;
        color: $white;
        @include font-size(20px);

        &:hover:after{
          @include transform(scale(1.2));
          @include transition(transform .3s);
        }

        &:after{
          content: '\f101';
          display: inline-block;
          vertical-align: top;
          margin: 0 rem(5px);
          font-family: 'FontAwesome';
          @include transition(transform .3s);
        }

        &_active{
          color: $secondary-color;

          &:after{
            display: none;
          }
        }
      }
    }
  }
}
