.hero.hero_main{
  position: relative;

  .hero{
      &__title{
        position: absolute;
        top: 40%;
        left: 50%;
        width: 80%;
        margin: 0 0 0 -40%;
        text-align: center;
        font-family: $ff-titles;
        @include font-size(60px);
        @include font-weight($f-bold);
        color: $white;
        text-shadow: 1px 0 5px rgba(0, 0, 0, 0.8);
        z-index: 20;
      }
  }
}
