nav.header__nav.main-nav
  .c-wrap.main-nav__wrapper
    button.main-nav__button
      span.main-nav__button-text Меню
      i.main-nav__button-icon.fa
    ul.main-nav__items.main-nav__items_lvl-1
      li.main-nav__item(role="menuitem")
        a.main-nav__link(href="about.html") О нас
      li.main-nav__item(role="menuitem")
        a.main-nav__link(href="menu.html") Наши блюда
      li.main-nav__item(role="menuitem")
        a.main-nav__link(href="events.html") События
      li.main-nav__item(role="menuitem")
        a.main-nav__link(href="contacts.html") Контакты
