include layouts/helpers/mixins
- var page = 'main';

doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='Лучший ресторан вашего города!')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Ресторан
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/'+page+'.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    //- page wrapper, get modifier, by page name
    +page(page)
      include layouts/partials/header
      include layouts/partials/hero/hero_main


      main.content
        .content__wrapper.c-wrap

          section.benefits
            h2.benefits__title Наши преимущества
            .benefits__items
              figure.benefits__item.benefit
                +img("benefits/grapes-and-pear-on-a-platter.png",
                    {title: "some", className:"benefit__img", width:"80", height:"80"})
                figcaption
                  span.benefit__title Высококачественные продукты
                  span.benefit__desc Собственное фермерское хозяйство и никаких поставщиков
              //-item end
              figure.benefits__item
                +img("benefits/chef-with-hat.png",
                {title: "some", className: "benefit__img", width: "80", height: "80"})
                figcaption
                  span.benefit__title Профессионализм
                  span.benefit__desc Отзывчивый и высококвалифицированный персонал
              //-item end
              figure.benefits__item
                +img("benefits/food-on-a-stick.png",
                {title: "some", className: "benefit__img", width: "80", height: "80"})
                figcaption
                  span.benefit__title Кейтеринг
                  span.benefit__desc Профессиональная организация выездных мероприятий
              //-item end
              figure.benefits__item
                +img("benefits/glass-of-wine-and-bottle.png",
                {title: "some", className: "benefit__img", width: "80", height: "80"})
                figcaption
                  span.benefit__title Винная карта
                  span.benefit__desc Только лучшие напитки
          //- benefits end
          section.menu-categories.menu-categories-main
            h3.menu-categories__title
            .menu-categories__items
              .menu-categories__item Горячие блюда
              .menu-categories__item Холодные закуски
              .menu-categories__item Десерты
              .menu-categories__item Напитки
          //- menu-categories

          section.events.events_last-events-main
            h3.events__title
            .events__items
              .events__item.event
                +img("",
                {title: "event", className: "event__img", width: "80", height: "80"})
                .event__title Event title
                .event__desc
                  .event__date 11.11.11
                  .event__prev-text
                    | Lorem ipsum dolor sit amet
              .events__item
              .events__item
              .events__item
          //- events end



      include layouts/partials/footer

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-script.
    //-  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //-    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //-    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //-    e.src='https://www.google-analytics.com/analytics.js';
    //-    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //-  ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild

    // build:js scripts/common.js
    script(src='scripts/common.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/'+page+'.js')
    // endbuild
