include ../../layouts/helpers/mixins
- var page = 'menu';

doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='Информация о нашем ресторане и его история')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title О ресторане
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/menu.css
    link(rel='stylesheet', href='styles/'+page+'.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    //- page wrapper, get modifier, by page name
    +page(page)
      include ../../blocks/header/header

      +hero-content("Наше меню", "images/hero_menu.jpg", [
        { url: "index.html",
          text: "Главная"},
        { url: "#",
          text: "Наше меню"}
      ])
      .page__content.c-wrap.content
        aside.sidebar.sidebar_l
          .menu-cats.menu-cats_sidebar
            .menu-cats__title.f-title Категории

            ul.menu-cats__items.menu-cats__items_l1
              li.menu-cats__item.menu-cats__item_l1
                span.menu-cats__item-title Горячие блюда

              li.menu-cats__item.menu-cats__item_l1
                span.menu-cats__item-title Холодные закуски

              li.menu-cats__item.menu-cats__item_l1
                span.menu-cats__item-title Десерты

              li.menu-cats__item.menu-cats__item_l1
                span.menu-cats__item-title Напитки
                ul.menu-cats__items.menu-cats__items_l2
                  li.menu-cats__item.menu-cats__item_l2
                    span.menu-cats__item-title Алкогольные
                  li.menu-cats__item.menu-cats__item_l2
                    span.menu-cats__item-title Безалкогольные

        main.content__wrapper.content__wrapper_r
          h2 Content
      include ../../blocks/footer/footer

    +analytics

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild

    //- build:js scripts/menu.js
    script(src='/bower_components/slick-carousel/slick/slick.js')
    script(src='/bower_components/jquery-modal/jquery.modal.js')
    script(src='/bower_components/moment/moment.js')
    script(src='/bower_components/pikaday/pikaday.js')
    script(src='scripts/common.js')
    script(src='scripts/'+page+'.js')
    //- endbuild
