/*
* Common layout styles
*/

.c-wrap{//content wrapper container
  @include outer-container;
}

.f-title{
  font-family:$ff-titles;
}

.fa{//base font-size of fotawesome icons
  @include font-size($base-px-default);
}

/*buttons*/
@include block(btn){
  @include modifier(lime){
    color: $white;
    background: $oc-lime-5;
  };
  @include modifier(blue){
    color: $white;
    background: $oc-blue-5;
  };
  @include modifier(yellow){
    color: $white;
    background: $oc-yellow-5;
  };
  @include modifier(red){
    color: $white;
    background: $oc-red-5;
  };
}



@include block(content){
  position: relative;
  padding: rem(40px) 0;
  min-height: rem(200px);
  color: $main-color;

  @include element(wrapper){

    @include modifier(l){
      @include span-columns(9);

      @include mobile{
        width: 100%;
        padding: 0 rem(10px);
      }
    }
    @include modifier(r){
      @include direction-context(right-to-left) {
        @include span-columns(9);

        @include mobile{
          width: 100%;
          padding: 0 rem(10px);
        }
      }
    }

  }
}
