section.events.events_last-events-main
  h3.events__title.f-title Последние события
  .events__items
    .events__item.event.event_main
      a(href="#" title="Событие 1")
        +img("events/img_001.jpg",
        {title: "Событие 1", className: "event__img", width: "350", height: "234"})
      a.event__title(href="#" title="Событие 1") Событие 1
      .event__desc
        .event__date 11.11.11
        .event__prev-text
          | Краткий текст о событии
    .events__item.event.event_main
      a(href="#" title="Событие 2")
        +img("events/img_002.jpg",
        {title: "Событие 2", className: "event__img", width: "350", height: "234"})
      a.event__title(href="#" title="Событие 2") Событие 2
      .event__desc
        .event__date 11.11.11
        .event__prev-text
          | Краткий текст о событии
    .events__item.event.event_main
      a(href="#" title="Событие 3")
        +img("events/img_003.jpg",
        {title: "Событие 3", className: "event__img", width: "350", height: "234"})
      a.event__title(href="#" title="Событие 3") Событие 3
      .event__desc
        .event__date 11.11.11
        .event__prev-text
          | Краткий текст о событии
    .events__item.event.event_main
      a(href="#" title="Событие 4")
        +img("events/img_004.jpg",
        {title: "Событие 4", className: "event__img", width: "350", height: "234"})
      a.event__title(href="#" title="Событие 4") Событие 4
      .event__desc
        .event__date 11.11.11
        .event__prev-text
          | Краткий текст о событии
//- events end
