section.benefits
  h2.benefits__title.f-title Наши преимущества
  .benefits__items
    figure.benefits__item.benefit
      +img("benefits/grapes-and-pear-on-a-platter.png",
      {title: "Продукты", className:"benefit__img", width:"80", height:"80"})
      figcaption
        span.benefit__title Продукты
        span.benefit__desc Собственное фермерское хозяйство
    //-item end
    figure.benefits__item.benefit
      +img("benefits/chef-with-hat.png",
      {title: "Профессионализм", className: "benefit__img", width: "80", height: "80"})
      figcaption
        span.benefit__title Профессионализм
        span.benefit__desc Отзывчивый и высококвалифицированный персонал
    //-item end
    figure.benefits__item.benefit
      +img("benefits/food-on-a-stick.png",
      {title: "Кейтеринг", className: "benefit__img", width: "80", height: "80"})
      figcaption
        span.benefit__title Кейтеринг
        span.benefit__desc Профессиональная организация выездных мероприятий
    //-item end
    figure.benefits__item.benefit
      +img("benefits/glass-of-wine-and-bottle.png",
      {title: "Винная карта", className: "benefit__img", width: "80", height: "80"})
      figcaption
        span.benefit__title Винная карта
        span.benefit__desc Только лучшие напитки
//- benefits end
