.modal__title.f-title Заказ столика
.modal__prev-desc
  | Ознакомьтесь с нашей схемой зала и выберите понравившийся столик, кликнув по нему.
  | Cтолики, отмеченные красным цветом, заказаны на сегодня

form.hall(action="#")
  .hall__wrapper
    .hall__sec.hall__sec1
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_hori.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o

    .hall__sec.hall__sec2
      .fountain(title="Фонтан")

    .hall__sec.hall__sec3
      .table.table_hori.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_hori.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o

    .hall__sec.hall__sec4
      .table.table_hori.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_hori.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o

    .hall__sec.hall__sec5
      .table.table_hori.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o

    .hall__sec.hall__sec6
      .table.table_hori.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
      .table.table_vert.js-table(data-num="" data-spots="" data-is-reserved="" data-is-checked="")
        span.table__num(title="Номер стола")
        span.table__spots(title="Кол-во посадочных мест")
          span.table__spots-num
          i.table__spots-ic.fa.fa-user-o
  .hall__date
    label
      span Дата бронирования
      i.fa.fa-hand-pointer-o.hall__icon-hand
      input.hall__input.js-datepicker(type="text" value="")
  .hall__time
    label
      span Время бронирования
      i.fa.fa-hand-pointer-o.hall__icon-hand
      input.hall__input.js-timepicker(type="text" value="")
  .hall__settings
    .hall__settings-title Панель управления
    .hall__setting
      button.hall__setting-btn.btn.btn_lime.js-send-data Зарезервировать
    .hall__setting
      button.hall__setting-btn.btn.btn_blue.js-reload-data Обновить данные
    .hall__setting
      button.hall__setting-btn.btn.btn_yellow.js-change-data Изменить данные
    .hall__setting
      button.hall__setting-btn.btn.btn_red.js-cancel-data Отменить резерв

