@include block(header){
  background: $header-bg;
  background-image: url("../images/header_bg.png");
  text-align: center;

  @include element(wrapper){
    position: relative;
    padding: 0 rem(10px);
    overflow: hidden;
  }

  @include element(contacts){
    @include span-columns(4);
    padding: rem(35px) 0;
    min-height: inherit;

    @include mobile{
      @include span-columns(12);
      @include omega;
      padding: rem(5px) 0;
    }
  }

  @include element(contact){
    color: $ternary-color;
    white-space: nowrap;
  }
  @include element(logo-wrapper){
    position: absolute;
    width: rem(80px);
    top: rem(10px);
    left: 50%;
    margin-left: rem(-80px);

    @include mobile{
      position: static;
      display: block;
      margin: rem(20px) auto;
    }
  }
  @include element(order){
    @include direction-context(right-to-left){
      @include span-columns(4);
      padding: rem(35px) 0;
      @include clearfix;
      margin-bottom: rem(10px);
    }

    &-btn{
      color: $ternary-color;
    }
    @include mobile{
      @include span-columns(12);
      @include omega;
      padding: rem(5px) 0;
    }
  }

  @include element(nav){
    clear: both;
    margin-left: -100%;
    margin-right: -100%;
    background: $secondary-color;

    @include mobile{
      margin: auto;
    }
  }

  @include element(search){
    padding: rem(20px) 0;
    text-align: center;
  }
}
