.footer
  .footer__wrapper.c-wrap
    .footer__contacts
      .footer__phone-title Телефон
      a.footer__phone(href="callto:+00000000000" aria-label="Телефон") +0 (000) 000 00 00
      .footer__address-title Адрес
      .footer__address(aria-label="Адрес") г.Киев<br>ул. Большая Васильковская 48
      .footer__email-title Email
      a.footer__email(href="mailto:restraunt@gmail.com" aria-label="Email") restraunt@gmail.com
    .footer__social.social.social_footer
      a.social__item(href="#" title="Facebook")
        .fa.fa-facebook(aria-label="Facebook")
      a.social__item(href="#" title="Vkontakte")
        .fa.fa-vk(aria-label="Vkontakte")
      a.social__item(href="#" title="Google plus")
        .fa.fa-google-plus(aria-label="Google plus")
    .footer__developed
      span.footer__developed-title Разработано
      a(href="https://github.com/DireWereWolf" rel="nofollow" target="_blank")
        +img("ww.svg",
        {title: "dww", className: "footer__developed-img", width: "40", height: "40"})

.get-table(role="aria-modal" aria-label="Заказ столика")
