.footer
  .footer__wrapper.c-wrap
    .footer__contacts
      .footer__phone-title Телефон
      a.footer__phone(href="callto:+00000000000" aria-label="Телефон") +0 (000) 000 00 00
      .footer__address-title Адрес
      .footer__address(aria-label="Адрес") г.Киев<br>ул. Большая Васильковская 48
      .footer__email-title Email
      a.footer__email(href="mailto:restraunt@gmail.com" aria-label="Email") restraunt@gmail.com
    .footer__social.social.social_footer
      .social__item.social__item_fb
      .social__item.social__item_vk
      .social__item.social__item_gp

.get-table(role="aria-modal" aria-label="Заказ столика")
