.header
  .header__wrapper.c-wrap
    if page === "main"
      .header__logo-wrapper
        +img("logo.svg",
            {title: "Лого", className:"header__logo", width:"80", height:"80"})
    else
      a.header__logo-wrapper(href="/")
        +img("logo.svg",
        {title: "Лого", className: "header__logo", width: "80", height: "80"})

    .header__contacts
      a.header__contact(href="callto:+00000000000" title="Номер телефона" aria-label="Номер телефона") +0(000) 000 00 00
    .header__order
      a.header__order-btn.js-modal-open(href="order-table.html") Заказать столик
  nav.header__nav.main-nav
    .c-wrap.main-nav__wrapper
      button.main-nav__button Меню
      ul.main-nav__items.main-nav__items_lvl-1
        li.main-nav__item(role="menuitem")
          a.main-nav__link(href="about.html") О нас
        li.main-nav__item(role="menuitem")
          a.main-nav__link(href="menu.html") Наши блюда
        li.main-nav__item(role="menuitem")
          a.main-nav__link(href="events.html") События
        li.main-nav__item(role="menuitem")
          a.main-nav__link(href="contacts.html") Контакты
  .header__wrapper.c-wrap
    .header__search.search.search_header
        label.search__label
          span.fa.fa-search.search__icon
          input.search__input
