.header
  .header__wrapper.c-wrap
    .header__logo-wrapper
      +img("logo.svg",
          {title: "Main logo", className:"header__logo", width:"160", height:"160"})

    .header__contacts
      a.header__contact(href="callto:+00000000000" aria-label="Телефон") +0 (000) 000 00 00
    .header__order Заказать столик
    nav.header__nav.main-nav
      button.main-nav__button Меню
      ul.main-nav__items.main-nav__items_lvl-1
        li.main-nav__item(role="menuitem")
          a.main-nav__link(href="about.html") О нас
        li.main-nav__item(role="menuitem")
          a.main-nav__link(href="#") Наши блюда
        li.main-nav__item(role="menuitem")
          a.main-nav__link(href="#") События
        li.main-nav__item(role="menuitem")
          a.main-nav__link(href="#") Контакты
